PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
DATABASE_PATH=./database.sqlite
DOWNLOADS_DIR=./downloads
# Use one of:
# YTDLP_PATH=python -m yt_dlp
# YTDLP_PATH=C:\Users\o0ash\AppData\Local\Python\pythoncore-3.14-64\Scripts\yt-dlp.exe
# YTDLP_PATH=C:\Python312\Scripts\yt-dlp.exe
YTDLP_PATH=python -m yt_dlp
